:root {
    --ie-blue: #01BCF2;
}

html, body {
    margin:0;
    height: 100%;
    width:100%;
}

body {
    background: #f4f4f5;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

body main {
    padding:5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

[data-icon="internet-explorer"] {
    width: 150px;
    margin-top: 5vh;
    -webkit-animation: pulse_5221 10s linear infinite;
    animation: pulse_5221 10s linear infinite;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

[data-icon="internet-explorer"] path {
    fill: var(--ie-blue);
}

a:link, a:active, a:visited {
    color: var(--ie-blue);
    text-decoration: none;
}

a:hover {
    color: var(--ie-blue);
    text-decoration: underline;
}

@-webkit-keyframes pulse_5221 {
    0% { -webkit-transform: scale(1.1); transform: scale(1.1) }
    50% { -webkit-transform: scale(0.8); transform: scale(0.8) }
    100% { -webkit-transform: scale(1.1); transform: scale(1.1) }
}

@keyframes pulse_5221 {
    0% { -webkit-transform: scale(1.1); transform: scale(1.1) }
    50% { -webkit-transform: scale(0.8); transform: scale(0.8) }
    100% { -webkit-transform: scale(1.1); transform: scale(1.1) }
}

footer {
    padding: 5px;
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.tagline, .timer {
    font-size: 2rem;
}

.reasons {
    margin: 2rem 0 0;
}

.reasons li,
.reasons li a,
.reasons p,
.reasons h3,
.reasons details {
    font-size: 1rem;
}

.reasons details {
    width: 90vw;
    margin: 1rem 0;
}

.reasons summary {
    cursor: pointer;
}

footer a {
    word-break: break-all;
}

footer a, footer small {
    font-size: 1rem;
}

footer p {
    font-size: 2rem;
    margin-bottom: 0;
}

footer .sources {
    width: 90%;
}

@media (min-width: 1024px) {
    [data-icon="internet-explorer"] {
        margin-top: 15vh;
    }
    .tagline {
        font-size: 1.7vw;
    }
    
    .timer {
        font-size: 2.5vw;
    }
}