body {
    height: 95vh;
    background: #f4f4f5;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}
.countdown {
    font-size: 1.1rem;
    text-align: center;
}

.tagline {
    font-size: 1.7vw;
}

.timer {
    font-size: 2.5vw;
}

[data-icon="internet-explorer"] {
    width: 150px;
    animation: pulse_5221 2s linear infinite;
    transform-origin: 50% 50%;
}

[data-icon="internet-explorer"] path {
    fill: #01BCF2;
}

@keyframes pulse_5221 {
    0% { transform: scale(1.1) }
    50% { transform: scale(0.8) }
    100% { transform: scale(1.1) }
}

footer {
    margin-top: auto;
}

@media (max-width: 1024px) {
    .tagline, .timer {
        font-size: 3rem;
    }

    footer ul, footer small {
        font-size: 1.3rem;
    }

    footer p {
        font-size: 3rem;
    }
}