@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@400;700&display=swap");
:root {
   --ie-blue: #01bcf2;
}

* {
   box-sizing: border-box;
}

html, body {
   margin: 0;
   height: 100%;
   width: 100%;
   font-family: "Inter", sans-serif;
   color: #fff;
}

body {
   background: #1a1a1a;
}

section {
   min-height: 100vh;
}

section .section-heading {
   font-size: 2rem;
   font-family: "DM Serif Display", serif;
   text-align: center;
}

a {
   text-decoration: none;
   color: var(--ie-blue);
}

[data-icon="internet-explorer"] {
   width: 150px;
   -webkit-animation: pulse_5221 10s linear infinite;
   animation: pulse_5221 10s linear infinite;
   -webkit-transform-origin: 50% 50%;
   -ms-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
}

[data-icon="internet-explorer"] path {
   fill: var(--ie-blue);
}

@-webkit-keyframes pulse_5221 {
   0% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1)
   }
   50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8)
   }
   100% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1)
   }
}

@keyframes pulse_5221 {
   0% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1)
   }
   50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8)
   }
   100% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1)
   }
}

section.landing {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

section.landing h1 {
   font-size: 3rem;
   font-family: "DM Serif Display", serif;
}

section.countdown {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

section.countdown .mainstream {
   border-right: 1px solid #333;
}

section.countdown>div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 1rem 2rem;
}

section.countdown>div p {
   font-size: 1.2rem;
   margin-bottom: 4rem;
}

section.countdown .timer {
   text-transform: uppercase;
   font-size: 0.8rem;
   min-width: 500px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;
}

section.countdown .timer .group {
   display: flex;
   flex-direction: column;
   text-align: center;
}

section.countdown .timer .group .text {
   margin-bottom: 1rem;
}

section.countdown .timer .group .value {
   font-size: 4rem;
   font-weight: 700;
}

section.disclaimer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 2rem;
   text-align: center;
}

section.disclaimer p {
   max-width: 720px;
   line-height: 150%;
}

section.reasons {
   padding: 4rem;
}

section.reasons details {
   margin-bottom: 1rem;
}

section.reasons summary {
   outline: none;
   cursor: pointer;
   margin-bottom: 1rem;
}

section.reasons details .list a {
   display: block;
   border: 1px solid #666;
   padding: 1rem;
   margin-bottom: 1rem;
   border-radius: 0.25rem;
   color: #fff;
   transition: 0.5s ease-out all;
}

section.reasons details .list a:hover {
   background: var(--ie-blue);
   border-color: var(--ie-blue);
}

section.reasons .list#websites {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 1rem;
   text-align: center;
}

section.reasons .sources {
   margin-top: 4rem;
}

section.reasons .sources-list {
   list-style-type: none;
   text-align: center;
   line-height: 150%;
}

footer {
   padding: 4rem;
   background: #222;
   text-align: center;
}