@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');
:root {
    --ie-blue: #01BCF2;
}

html, body {
    margin:0;
    height: 100%;
    width:100%;
}

body {
    background: #f4f4f5;
    font-family: 'Fira Code', monospace;
    display: flex;
    flex-direction: column;
}

body main {
    padding:5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.disclaimer {
    font-size: 16px;
    margin: 0 auto;
}

.countdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

[data-icon="internet-explorer"] {
    width: 150px;
    margin-top: 5vh;
    -webkit-animation: pulse_5221 10s linear infinite;
    animation: pulse_5221 10s linear infinite;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

[data-icon="internet-explorer"] path {
    fill: var(--ie-blue);
}

a:link, a:active, a:visited {
    color: #09789c;
    text-decoration: none;
    transition: color linear 0.35s;
}

a:hover {
    color: var(--ie-blue);
}

@-webkit-keyframes pulse_5221 {
    0% { -webkit-transform: scale(1.1); transform: scale(1.1) }
    50% { -webkit-transform: scale(0.8); transform: scale(0.8) }
    100% { -webkit-transform: scale(1.1); transform: scale(1.1) }
}

@keyframes pulse_5221 {
    0% { -webkit-transform: scale(1.1); transform: scale(1.1) }
    50% { -webkit-transform: scale(0.8); transform: scale(0.8) }
    100% { -webkit-transform: scale(1.1); transform: scale(1.1) }
}

footer {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.tagline, .timer {
    font-size: 2rem;
}

.reasons {
    margin: 2rem 0 0;
}

.reasons li,
.reasons li a,
.reasons p,
.reasons h3,
.reasons details {
    font-size: 1rem;
}

.reasons details {
    width: 90vw;
    margin: 1rem 0;
    background: #f9f9f9;
}

.reasons details[open] {
    padding-bottom: 1rem;
}

.reasons summary {
    padding: 1rem 0.5rem;
    cursor: pointer;
}

.reasons li {
    margin: 1rem 0;
}

footer a {
    word-break: break-all;
}

footer a, footer small {
    font-size: 1rem;
}

footer small {
    margin: 0 auto;
}

footer p {
    font-size: 2rem;
    margin-bottom: 0;
}

footer .sources {
    width: 90%;
}

@media (min-width: 1024px) {
    .disclaimer {
        max-width: 80vw;
    }

    [data-icon="internet-explorer"] {
        margin-top: 15vh;
    }
    .tagline {
        font-size: 1.7vw;
    }

    .timer {
        font-size: 2.5vw;
    }
}
